.header_logo {
    position: sticky;
    z-index: 0;
}

.header_text {
    margin-top: 20px;

    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.header_image {
    width: auto;
    height: 75px;
    border-radius: 5px;

    display: block;
    margin-right: 20px;
    float: none;

    background-color: #f7f7f7;
}

.header {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;

    margin-top: -10px;
    margin-left: -10px;
    padding: 10px;

    background-color: #2d2d2d;
    color: #f7f7f7;
}

.header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page_select {
    width: 100%;
    height: 100px;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;

    margin-top: -10px;
    padding: 10px;

    list-style-type: none;
    font-size: x-large;

    background-color: #2d2d2d;
    color: #f7f7f7;
}

.page_select > * {
    margin-top: 35px;
    margin-right: 10%;
}

.page_select > *:last-child {
    margin-right: 5%;
}

.page_select > li > a {
    color: #fff;
    text-decoration: none;
}

.page_select > li > a:hover {
    text-decoration: underline;
}