body {
    background-color: #adadad;
    font-family: Arial, sans-serif;
    color: #000;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

.navbar-container {
    width: 100vw;
}

.content {
    width: 66%;
    height: 100vh;
    min-width: 400px;

    font-size: 25px;
    align-self: center;

    background-color: #bcbcbc;
}

.content * {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.content pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 100%;
}

.page_header {
    text-align: center;
    margin-left: 0px;
}