body {
    background-color: #adadad;
    font-family: Arial, sans-serif;
    color: #f7f7f7;
}

p {
    padding: 0 20px;

    margin-top: 25px;

    font-size: 25px;
    text-align: center;
}

pre {
    padding: 0 20px;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 100%;

    font-size: 25px;
    text-align: center;
}

h1 {
    padding: 0 20px;

    margin-top: 2%;
    text-align: center;
}

.navbar-container {
    width: 100vw;
}

.content {
    width: 66%;
    margin-left: 17%;
}