body {
    background-color: #adadad;
    font-family: Arial, sans-serif;
    color: #000;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 100%;
}

.navbar-container {
    width: 100vw;
}

.content {
    width: 66%;
    height: 100vh;

    margin-left: 17%;
    align-self: flex-start;

    font-size: 25px;

    background-color: #bcbcbc;
}