<html>
    <head>
        <link rel="stylesheet" href="/styles/header.css">
    </head>

    <body>
        <header>
            <div class="header_brand">
                <img class="header_image" src="/resources/images/logo_dg.png" alt="Logo">
                <pre class="header_text">
A page in
development hell.</pre>
            </div>

            <nav>
                <ul id="desktop_menu"></ul>
            </nav>

            <div id="hamburg_icon" onclick="toggleMobileMenu(this)">
                <div class="b1"></div>
                <div class="b1"></div>
                <div class="b1"></div>

                <ul id="mobile_menu"></ul>
            </div>
        </header>
    </body>
</html>