.contact_table {
    width: 95%;

    background-color: rgb(19, 19, 19);
    border-collapse: collapse;

    * {
        border-bottom: 2px solid #ccc;
    }

    th {
        text-align: left;

        font-size: xx-large;
    }

    a {
        text-decoration: none;
        color: rgb(43, 43, 204);
    }
}