#github_chart_container {
    max-width: 98%;

    background-color: rgb(181, 182, 187);
    margin: 0 auto;

    h3 {
        text-align: center;
    }

    img {
        max-width: 97.5%;
    
        display: block;

        margin: 5px auto 5px auto;

        padding-bottom: 20px;
    }
}
